<div class="app-picker">
  <div class="pokemon-picker first">
    <div class="picker-grid" >
      <button class="button-pick-pokemon" (click)="pickPokemon1(i)" *ngFor="let pokemon of listPokemon; let i = index">
        <img class="thumb-pokemon" [src]="pokemon.thumbnail"  />
      </button>
    </div>
    <div class="info-pokemon"  *ngIf="pokemon1" >
      <app-pokemon  [pokemon]="pokemon1" ></app-pokemon>
      <p>Choose level: <input type="range" min="1" max="100" (change)="chooseLevel1($event)" /> </p>
    </div>
  </div>
  <div class="vs-separator"></div>
  <div class="pokemon-picker second">
    <div class="picker-grid " >
      <button class="button-pick-pokemon" (click)="pickPokemon2(i)" *ngFor="let pokemon of listPokemon; let i = index">
        <img class="thumb-pokemon" [src]="pokemon.thumbnail" />
      </button>
    </div>
    <div class="info-pokemon" *ngIf="pokemon2">
      <app-pokemon  [pokemon]="pokemon2" ></app-pokemon>
      <p>Choose level: <input type="range" min="1" max="100" (change)="chooseLevel2($event)" /> </p>
    </div>
  </div>
</div>
<br><br>
<ng-template [ngIf]="pokemon1 && pokemon2">

  <div [ngStyle]="{textAlign: 'center'}">
    <button (click)="startFight()" >PREPARE TO FIGHT !</button>
  </div>
</ng-template>
